@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> home'da deneme view'i cagrildi</h1>

<!--http://localhost:5095/home/deneme-->

<h2> @DateTime.Now.ToShortDateString() </h2>
<h2> @DateTime.Now.ToString() </h2>

@{
    var tarih = DateTime.Now.ToShortDateString();
    var ders = "Web Progranlama";
}

<hr />

<h2> tarih: @tarih </h2>
<h2> ders: @ders </h2>

<br />

<table>
    <tr>
        <td> Gün </td>
        <td> Saat </td>
        <td> Dakika </td>
    </tr>
    <tr>
        <td> @DateTime.Now.Day </td>
        <td> Saat </td>
        <td> Dakika </td>
    </tr>
</table>